<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>hello spring security</title>
    <style>
        body {
            font-size: 14px;
            font-family: 'helvetica neue', tahoma, arial, 'hiragino sans gb', 'microsoft yahei', 'Simsun', sans-serif;
            background-color: #fff;
            color: #808080;
        }

        #all {
            margin: 200px auto;
            width: 510px;
        }
    </style>
</head>
<body>
    <div id="all">
        <div>
            <h1>hello spring security</h1><br><br><br>
        </div>
        <div>
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        </div>
        <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="注销"/>
            </form>
        </div>
    </div>
</body>
</html>